{% extends 'admin/admin_base.html' %}
{% block title %}Новый пользователь{% endblock %}
{% block head %}Создание нового пользователя{% endblock %}
{% block content %}
    {% if error %}
    {# I'm not reusing handlebars template from admin_base.html because it's
       message body is absolutely not what I need here #}
        <div class="alert alert-danger" role="alert">
            <h4>Ошибка!</h4>
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% if success %}
    {# TODO: think about reusing handlebars tempalte from admin_base here #}
    <div class="alert alert-success" role="alert">
        <h4>Отлично!</h4>
        <p>{{ success }}</p>
    </div>
    {% endif %}
    <form class="form-horizontal" action="{{ uri_for('add-user') }}"
          role="form" method="post">
        <div class="form-group">
            <label for="username" class="col-md-2 control-label">
                Имя пользователя:
            </label>
            <div class="col-md-10">
                <input class="form-control" id="username" name="username"
                       type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="email">
                E-mail
            </label>
            <div class="col-md-10">
                <input class="form-control" id="email" name="email"
                       type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="password">
                Пароль
            </label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="password"
                       name="password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">
                    Создать пользователя
                </button>
            </div>
        </div>
    </form>
{% endblock %}