{% extends "base.html" %}
{# Macros #}
{# Delete entity modal #}
{% macro delete_entity_modal() %}
    <div class="modal fade" id="ka-delete-entity-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Удаление объекта</h4>
                </div>
                <div class="modal-body">
                    <div class="ajax-loader-container"></div>
                    <div class="default-content">
                        <p>
                            Вы уверены, что хотите удалить этот объект?
                        </p>
                        <p class="text-danger" id="ka-cascade-delete-warning">
                            <b>
                                Удаление документа из этого списка приведет
                                к его удалению из всех услуг!
                            </b>
                        </p>
                        <div class="alert alert-info">
                            <p>
                                <b>Класс:</b>
                                <span id="ka-verbose-kind"></span>
                            </p>
                            <p><b>Объект: </b><span id="ka-repr"></span></p>
                        </div>
                    </div>
                    <div class="variable-content" hidden="hidden"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger default-content"
                            id="ka-confirm-delete">
                        Удалить
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" id="ka-close-modal">
                        Не надо!
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% block group_title %}
    Kompleks.Admin — {% block title %}{% endblock %}
{% endblock %}
{% block group_js %}
    <script src="/static/admin.js"></script>
{% endblock %}
{% block hb_common %}
    {# Handlebars templates #}
    {% raw %}
        <!-- Error message -->
        <script id="hbt-error" type="text/x-handlebars-template">
            <div class="alert alert-danger" role="alert">
                <h4>Ошибка!</h4>
                <p>
                    Во время выполнения действия произошла ошибка: {{status}},
                    {{error}}.
                </p>
            </div>
        </script>
        <!-- Success message -->
        <script id="hbt-success" type="text/x-handlebars-template">
            <div class="alert alert-success" role="alert">
                <h4>Отлично!</h4>
                <p>{{message}}.</p>
            </div>
        </script>
        <!-- Bootstrap row -->
        <script id="hbt-row" type="text/x-handlebars-template">
            <div class="row"></div>
        </script>
    {% endraw %}
{% endblock %}