body {
    font-family: Arial, Helvetica, sans-serif;
    color: #144672;
    margin-left: 2%;
    margin-right: 2%;
}
h1 {
    color:  #275279;
    font-weight: lighter;
    border: 1px solid #a7c5e1;
}
span[title] {
    border-bottom: 2px dotted #8a2121;
    cursor: help;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #20588A;
}
td {
    border-bottom: 1px solid #73ADE1;
}
th, td {
    padding: 0.4em 0.2em;
}
td.quantity-col {
    text-align: center;
    font-weight: bolder;
    font-size: 1.6em;
    color: #20588A;
}
.disabled {
    color: #adc0cc;
    background-color: #dedfe6;
}
.disabled a {
    color: #adc0cc;
}
.disabled span[title] {
    border-bottom-color: #ccadad;
}
.clear {
    clear: left;
}
.navigation {
    padding-top: 1em;
}

/* Service page specific styles */
td.cell-with-terms {
    white-space: nowrap;
}
#form-container {
    float: left;
    width: 88%;
}
#terms-counter {
    float: left;
    width: 10%;
    margin-left: 2%;
    vertical-align: top;
    text-align: center;
    font-size: 1.2em;
}
#terms-counter-head {
    background-color: rgba(191, 227, 255, 0.25);
    padding: 5px;
}
#terms-counter-body {
    border: 1px solid #73ADE1;
    font-weight: bolder;
}

/* Result page specific styles */
.multidescr-srv-plank {
    border-bottom: 1px solid #a7c5e1;
    border-top: 1px solid #a7c5e1;
    background-color: rgba(191, 227, 255, 0.25);
    margin-top: 0.6em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.multidescr-srv-body {
    border: 1px solid #a7c5e1;
    display: none;
}
.multidescr-srv-name {
    color: #6290c3;
}

/* Result page table columns widths */
#srv-name-head {
    width: 30.5%;
}
#srv-description-head {
    width: 49.5%;
}
#o-count-col-head {
    width: 5%;
}
#c-count-col-head {
    width: 5%;
}
#o-supply-type-head {
    width: 10%;
}