{% extends 'admin_base.html' %}
{% block title %}Администрирование{% endblock %}
{% block head %}Администрирование{% endblock %}
{% block content %}
    <form action={{ uri_for('admin') }} method="post"
          class="form-horizontal col-lg-10">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input id="init-db-option" name="action" type="radio"
                           value="init-db" checked/>
                    Инициализировать БД
                    <small>
                        <i>(будет использован файл «init_data.xml»)</i>
                    </small>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input id="edit-db-option" name="action" value="edit-db"
                           type="radio"/>
                    Редактировать БД
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Применить</button>
        </div>
    </form>
{% endblock %}