{% extends "base.html" %}
{# Macros #}
{# Delete entity modal #}
{% macro delete_entity_modal() %}
    <div class="modal fade" id="ka-delete-entity-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Удаление объекта</h4>
                </div>
                <div class="modal-body">
                    <div class="ajax-loader-container"></div>
                    <div class="default-content">
                        <p>
                            Вы уверены, что хотите удалить этот объект?
                        </p>
                        <p class="text-danger" id="ka-cascade-delete-warning">
                            <b>
                                Удаление документа из этого списка приведет
                                к его удалению из всех услуг!
                            </b>
                        </p>
                        <div class="alert alert-info">
                            <p>
                                <b>Класс:</b>
                                <span id="ka-verbose-kind"></span>
                            </p>
                            <p><b>Значение: </b><span id="ka-repr"></span></p>
                        </div>
                    </div>
                    <div class="variable-content" hidden="hidden"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger default-content"
                            id="ka-confirm-delete">
                        Удалить
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" id="ka-close-modal">
                        Не надо!
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% block title_affix %}.Admin{% endblock %}
{% block common_js %}
    <script src="/static/ckeditor/ckeditor.js"></script>
    <script src="/static/admin.js"></script>
    {# Handlebars templates #}
    {% raw %}
        <!-- Ajax loader -->
        <script id="hbt-ajax-loader" type="text/x-handlebars-template">
            <img src="/static/ajax-loader.gif" alt="Загрузка..."/>
        </script>
        <!-- List of entities in Bootstrap nav tabs -->
        <script id="hbt-biglist" type="text/x-handlebars-template">
            <div class="list-group-item list-group-item-success
                        ka-biglist-new">
                + Добавить
            </div>
            {{#each items}}
            <div data-id="{{id}}" class="list-group-item ka-biglist-item"
                 data-repr="{{value}}">
                {{value}}
                <i class="glyphicon glyphicon-remove pull-right
                          ka-biglist-delete"></i>
            </div>
            {{/each}}
        </script>
        <!-- Entity edit fields -->
        <!-- meta: field container -->
        <script id="hbt-field-container" type="text/x-handlebars-template">
            <div class="form-group
                        {{#if isNarrow}} col-md-6 {{else}} col-md-12 {{/if}}">
                {{{labelHTML}}}
                {{{fieldHTML}}}
            </div>
        </script>
        <!-- meta: label -->
        <script id="hbt-label" type="text/x-handlebars-template">
            <label for="{{fieldId}}">{{labelText}}</label>
        </script>
        <!-- int -->
        <script id="hbt-int" type="text/x-handlebars-template">
            <input class="form-control ka-int-field" type="text"
                   value="{{value}}" disabled="disabled" id="{{fieldId}}"/>
        </script>
        <!-- Plain -->
        <script id="hbt-plain" type="text/x-handlebars-template">
            <input class="form-control ka-plain-field" value="{{value}}"
                   disabled="disabled" type="text" id="{{fieldId}}"/>
        </script>
        <!-- Ref -->
        <script id="hbt-ref" type="text/x-handlebars-template">
            <div class="input-group ka-ref-field">
                <input class="form-control" value="{{value}}" id="{{fieldId}}"
                       disabled="disabled" type="text" title="{{value}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        Выбрать
                    </button>
                </span>
            </div>
        </script>
        <!-- Multi ref -->
        <script id="hbt-multi-ref" type="text/x-handlebars-template">
            <div class="input-group ka-multi-ref-field">
                <input class="form-control" type="text" value="{{value}}"
                       title="{{value}}" disabled="disabled" id="{{fieldId}}"/>
                <span class="input-group-addon"
                      title="Всего элементов">{{ref_count}}</span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        Выбрать
                    </button>
                </span>
            </div>
        </script>
        <!-- Rich -->
        <script id="hbt-rich" type="text/x-handlebars-template">
            <button class="btn btn-default ka-toggle-ckeditor" type="button"
                    data-toggle="button" data-toggle-text="Обычный текст"
                    data-target="{{fieldId}}-textarea">
                HTML
            </button>
            <textarea name="" id="{{fieldId}}-textarea" cols="120" rows="5"
                      class="form-control">
                {{value}}
            </textarea>
        </script>
        <!-- Error message -->
        <script id="hbt-error" type="text/x-handlebars-template">
            <div class="alert alert-danger" role="alert">
                <h4>Ошибка!</h4>
                <p>
                    Во время выполнения действия произошла ошибка: {{status}},
                    {{error}}.
                </p>
            </div>
        </script>
        <!-- Success message -->
        <script id="hbt-success" type="text/x-handlebars-template">
            <div class="alert alert-success" role="alert">
                <h4>Отлично!</h4>
                <p>{{message}}.</p>
            </div>
        </script>
        <!-- Bootstrap row -->
        <script id="hbt-row" type="text/x-handlebars-template">
            <div class="row"></div>
        </script>
    {% endraw %}
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ uri_for('start') }}">
                    Kompleks
                </a>
            </div>
        </div>
    </div>
{% endblock %}