{% extends "base.html" %}
{% block title_affix %}.Admin{% endblock %}
{% block common_js %}
    <script src="/static/admin.js"></script>
    {# Handlebars templates #}
    {% raw %}
        <!-- Ajax loader -->
        <script id="hbt-ajax-loader" type="text/x-handlebars-template">
            <img src="/static/ajax-loader.gif" alt="Загрузка..."/>
        </script>
        <!-- List of entities in Bootstrap nav tabs -->
        <script id="hbt-biglist" type="text/x-handlebars-template">
            <a href="#"
               class="list-group-item list-group-item-success
                      ka-biglist-new-item">
                + Добавить
            </a>
            {{#each items}}
            <a href="#" data-id="{{id}}"
               class="list-group-item ka-biglist-entry"
               data-repr="{{value}}">
                <span>{{value}}</span>
                <span class="pull-right">
                    <button class="btn btn-xs btn-primary
                                   ka-biglist-delete-entity"
                            title="Удалить">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                    </button>
                </span>
            </a>
            {{/each}}
        </script>
        <!-- Error message -->
        <script id="hbt-error" type="text/x-handlebars-template">
            <div class="alert alert-danger" role="alert">
                <h4>Ошибка!</h4>
                <p>
                    Во время выполнения действия произошла ошибка: {{status}},
                    {{error}}.
                </p>
            </div>
        </script>
        <!-- Success message -->
        <script id="hbt-success" type="text/x-handlebars-template">
            <div class="alert alert-success" role="alert">
                <h4>Отлично!</h4>
                <p>{{msg}}.</p>
            </div>
        </script>
        <!-- Delete entity modal -->
        <script id="hbt-delete-entity-modal" type="text/x-handlebars-template">
            <div class="modal fade" id="ka-delete-entity-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Удаление сущности</h4>
                        </div>
                        <div class="modal-body">
                            {{#if isDocument}}
                            <div class="alert alert-warning"
                                 id="del-relatives-warning">
                                Удаление документа из этого списка приведет к
                                его удалению из всех услуг!
                            </div>
                            {{/if}}
                            <p>Вы уверены, что хотите удалить эту сущность?</p>
                            <div class="alert alert-info">
                                <p><b>Класс:</b> {{verboseKind}} </p>
                                <p><b>Значение:</b> {{repr}} </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-loading-text="Удаляю..."
                                    id="ka-confirm-delete">
                                Удалить
                            </button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal" id="ka-close-modal">
                                Не надо!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    {% endraw %}
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ uri_for('start') }}">
                    Kompleks
                </a>
            </div>
        </div>
    </div>
{% endblock %}