{% extends 'admin_base.html' %}
{% block title %}Администрирование{% endblock %}
{% block head %}
    Список объектов:
    <small><span id="content-header"></span></small>
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" role="tablist" id="entities-list-multi">
    {% for kind in kinds %}
        <li>
            <a href="#{{ kind.name }}" data-toggle="tab" role="tab">
            {{ kind.verbose_name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for kind in kinds %}
        <div class="tab-pane col-md-10" id="{{ kind.name }}">
            <div class="tab-pane-items list-group ajax-loader-container">
            </div>
            <div class="tab-pane-items list-group">
                {# data fetched via ajax #}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}