{% extends 'admin_base.html' %}
{% block title %}Администрирование{% endblock %}
{% block head %}
    Список объектов:
    <small><span id="ka-big-list-header"></span></small>
{% endblock %}
{% block hb_specific %}
    {% raw %}
        <!-- List of entities in Bootstrap nav tabs -->
        <script id="hbt-biglist" type="text/x-handlebars-template">
            <div class="list-group-item list-group-item-success
                        ka-biglist-new">
                + Добавить
            </div>
            {{#each items}}
            <div data-id="{{id}}" class="list-group-item ka-biglist-item"
                 data-repr="{{value}}">
                {{value}}
                <i class="glyphicon glyphicon-remove pull-right
                          ka-biglist-delete"></i>
            </div>
            {{/each}}
        </script>
    {% endraw %}
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" role="tablist" id="ka-biglist-tab-labels">
    {% for kind in kinds %}
        <li>
            <a href="#ka-biglist-tab-{{ kind.name }}" data-toggle="tab"
               role="tab" data-kind="{{ kind.name }}">
            {{ kind.verbose_name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="tab-content" id="ka-biglist-tabs">
    {% for kind in kinds %}
        <div class="tab-pane col-md-10" id="ka-biglist-tab-{{ kind.name }}">
            <div class="ajax-loader-container"></div>
            <div class="tab-pane-items list-group">
                {# GET /admin/api/entities #}
            </div>
        </div>
    {% endfor %}
    </div>
    {{ delete_entity_modal() }}
{% endblock %}