<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional styles -->
    <link href="/static/styles.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/static/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Handlebars -->
    <script src="/static/handlebars-v2.0.0.js"></script>
    <!-- Template specific variable initialization -->
    {% block template_js %}{% endblock %}
    <!-- Template group specific script -->
    {% block common_js %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
        — Kompleks{% block title_affix %}{% endblock %}
    </title>
</head>
<body>
    <!-- Template group specific Handlebars templates -->
    {% block hb_common %}{% endblock %}
    <!-- Template specific Handlebars templates -->
    {% block hb_specific %}{% endblock %}
    {% block navbar %}{% endblock %}
    <div class="container">
        <div class="row">
            <h1>{% block head %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>