{% extends 'base.html' %}
{% block title %}Выбор предусловий{% endblock %}
{% block js %}
    <script>var dependencyGraph = {{ dependency_graph|safe }};</script>
{% endblock %}
{% block head %}{{ kompleks.name }}: <small>ПРЕДУСЛОВИЯ</small>{% endblock %}
{% block content %}
    <p class="lead">Если какие-то из этих условий уже удовлетворены —
        отметьте:</p>
    <form action="{{ uri_for('prerequisites') }}" method="post">
        <table class="table">
            <tbody>
            {% for p in prerequisites %}
                <tr>
                    <td>
                        <input type="checkbox" name="prerequisite"
                               value="{{ p.id }}" id="{{ p.id }}"/>
                    </td>
                    <td>
                        <label for="{{ p.id }}">{{ p.text }}</label>
                    </td>
                </tr>
            {% endfor  %}
            </tbody>
        </table>
        {{ navigation(uri_for('start'), with_submit=True) }}
    </form>
{% endblock content %}