{% extends "base.html" %}
{% macro table_head() %}
    <tr>
        <th>&nbsp;</th>
        <th>Услуга</th>
        <th>ОГВ</th>
        <th>Сроки</th>
        <th>Условия</th>
    </tr>
{% endmacro %}
{% macro service_row(service) %}
    <tr>
        <td><input name="service" value="{{ service.id }}" type="checkbox"
                   id="{{ service.id }}"/>
        </td>
        <td>
            <label for="{{ service.id }}">
                <a href="{{ service.kb_id|to_url }}"
                   title="Посмотреть в Базе знаний" target="_blank">
                    {{ service.name }}
                </a>
            </label>
        </td>
        <td>{{ service.ogv }}</td>
        <td class="lead">
        {% if service.terms_description %}
            <abbr title="{{ service.terms_description }}">
                {{ service.max_days }}&nbsp;к.&nbsp;д.&nbsp;+{{ service.max_work_days }}&nbsp;р.&nbsp;д.
            </abbr>
        {% else %}
            {{ service.max_days }}&nbsp;к.&nbsp;д.&nbsp;+{{ service.max_work_days }}&nbsp;р.&nbsp;д.
        {% endif %}
        </td>
        <td>
            {{ put_description(service.description) }}
        </td>
    </tr>
{% endmacro %}
{% block title %}Выбор услуг{% endblock %}
{% block js %}
    <script>var dependencyGraph = {{ dependency_graph|safe }};</script>
{% endblock %}
{% block head %}
    {{ kompleks.name }}: <small>УСЛУГИ</small>
{% endblock %}
{% block content %}
    <form method="post">
        <div class="col-md-10">
            <p class="lead">Выберите нужные услуги:</p>
            <table class="table table-condensed">
                <thead>{{ table_head() }}</thead>
                <tbody>
                {% for service in contained_services %}
                    {{ service_row(service) }}
                {% endfor %}
                </tbody>
            </table>
            {% if related_services %}
                <p class="lead">Эти услуги не входят в комплекс, но подходят по
                    жизненной ситуации:
                </p>
                <table class="table table-condensed">
                    <thead>{{ table_head() }}</thead>
                    <tbody>
                    {% for service in related_services %}
                        {{ service_row(service) }}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {{ navigation(uri_for('prerequisites'), with_submit=True) }}
        </div>
        <div class="col-md-2 lead">
            <div class="row bg-info text-center">
                <abbr title="приблизительно">Общий срок:</abbr>
            </div>
            <div class="row center-block container">
                <p><span id="days-total">0</span>&nbsp;к.&nbsp;д.</p>
                <p><span id="work-days-total">0</span>&nbsp;р.&nbsp;д.</p>
            </div>
        </div>
    </form>
{% endblock %}