{% extends "base.html" %}
{# Shared macros #}
{% macro navigation(back, with_submit=true) %}
        <input type="button" name="back" value="Назад" class="btn btn-lg"
               onclick="window.location.href = '{{ back }}'"/>
        {% if with_submit %}
            <input type="submit" name="submit" value="Далее"
                   class="btn btn-lg"/>
        {% endif %}
{% endmacro %}

{% macro put_description(s) %}
    {% if s.startswith('<div>') %}
        {{ s|safe }}
    {% else %}
        <p>{{ s }}</p>
    {% endif %}
{% endmacro %}
{# End shared macros #}
{% block group_js %}
    <script src="/static/public.js"></script>
{% endblock %}
{% block group_title %}
    Kompleks — {% block title %}{% endblock %}
{% endblock %}